html, body {
  margin: 0;
  padding: 0;
}

canvas {

  margin: auto;
  display: block;

   margin-top: -123%;
}

#two {
  min-height: 1400px;
  min-width: 100%;
}

#one {
  min-height: 25%;
  height: 50%;
  width: 15%;
  display: flex;
  margin: auto;
}

div {
  width: 100%;
  background-color: #FFB9CE;
  padding-bottom: 50px;
  text-align: center;
}

a {
  background-color: #FFB9CE;
  font-size: 520%;
  
}
