html, body {
  margin: 0;
  padding: 0;
}

canvas {

  margin: auto;
  display: block;

   margin-top: -120%;
}

#two {
  min-height: 1400px;
  min-width: 100%;
}

#one {
  min-height: 25%;
  height: 130px;
  width: 420px;
  display: flex;
  margin: auto;
}

div {
  width: 100%;
  background-color: #FFB9CE;
  padding-bottom: 50px;
}

a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  left: 35%;
  background-color: #FFB9CE;
}
